<!doctype html>
<html>
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
<title>TG全能王</title>
<link href="/static/css/tabler.min.css?v={{config.version}}" rel="stylesheet"/>
<link href="/static/css/tabler-flags.min.css?v={{config.version}}" rel="stylesheet"/>
<link href="/static/css/tabler-payments.min.css?v={{config.version}}" rel="stylesheet"/>
<link href="/static/css/tabler-vendors.min.css?v={{config.version}}" rel="stylesheet"/>
<link href="/static/css/demo.min.css?v?{{config.version}}" rel="stylesheet"/>
</head>

<body>
	
<script src="static/js/demo-theme.min.js?v={{config.version}}"></script>
<div class="page page-center">
 	<div class="container container-tight py-4">
	    <div class="text-center mb-4">
	      	<a href="#" class="navbar-brand navbar-brand-autodark">
	      		<img src="/static/img/logo.svg" height="50" alt="TG万能王">
	     	</a>
	    </div>
	    <div class="card card-md">
	     	<div class="card-body">
	        	<h2 class="h2 text-center mb-4">TG万能王</h2>
		        <form action="/" method="post" autocomplete="off" novalidate>
		          <div class="mb-3">
		            <input type="email" class="form-control" placeholder="账号" autocomplete="off">
		          </div>
		          <div class="mb-2">
		            <div class="input-group input-group-flat">
		              <input type="password" class="form-control"  placeholder="密码"  autocomplete="off">
		              <span class="input-group-text">
		                <a href="#" class="link-secondary" title="Show password" data-bs-toggle="tooltip">
		                	<!-- Download SVG icon from http://tabler-icons.io/i/eye -->
		                	<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7" /></svg>
		                </a>
		              </span>
		            </div>
		          </div>
		          <div class="form-footer">
		            <button type="submit" class="btn btn-primary w-100">登陆</button>
		          </div>
		        </form>
	     	</div>
	    </div>
 	</div>
</div>
<!-- Libs JS -->
<!-- Tabler Core -->
<script src="/static/js/tabler.min.js?v={{config.version}}" defer></script>
<script src="/static/js/demo.min.js?v={{config.version}}" defer></script>

</body>
</html>