{% extends "layout.html" %} 
{% block content %}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                    <span class="layui-breadcrumb">
                      <a href="/">首页</a>
                      <a><cite>日志管理</cite></a>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">列表管理</div>
                <div class="layui-card-body">
                <table class="layui-hide" id="list" lay-filter="list"></table>
                <script type="text/html" id="list-btn">
                    <div class="layui-btn-container">
                        <button class="layui-btn layui-btn-sm" lay-event="clear">情空</button>
                    </div>
                </script>
                <script type="text/html" id="list-right-btn">
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                </script>
              </div>
            </div>
        </div>
    </div>
</div>

<script>
layui.config({
base: '/static/'
}).use(['table','jquery'], function(){
///
var admin = layui.admin
,$ = layui.$
,table = layui.table;

table.render({
    elem: '#list'
    ,url: '/logs/list'
    ,toolbar: '#list-btn'
    ,title: '日志表'
    ,cols: [[
        {type: 'checkbox', fixed: 'left'}
        ,{field:'id', title:'ID', width:100,fixed: 'left'}
        ,{field:'type', title:'操作类型',width:180}
        ,{field:'log', title:'详情'}
        ,{field:'addtime', title:'操作时间'}
      ]]
    ,page: true
    ,id:'logs_list'
});

function clear(obj){
    layer.confirm('是否清空日志?', function() {
        $.post("/logs/clear", {}, function(data) {
            showMsg(data.msg,function(){
                if (data.status){
                    table.reload('logs_list', {});
                }
            },{icon:data.status?1:2});
        },'json').error(function() {
            layer.close(e);
            layer.msg('系统异常!', {icon: 0});
        });
    })
}

table.on('toolbar(list)', function(obj){    
    switch(obj.event){
        case 'clear':clear(obj);break;
    };
});
///
});
</script>
{% endblock %}