{% extends "layout.html" %} 
{% block content %}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                    <span class="layui-breadcrumb">
                      <a href="/">首页</a>
                      <a><cite>模块管理</cite></a>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">模块管理</div>
                <div class="layui-card-body">
                <table class="layui-hide" id="list" lay-filter="list"></table>
                <script type="text/html" id="list-right-btn">
                    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                </script>
              </div>
            </div>
        </div>
    </div>
</div>

<script>
layui.config({
base: '/static/'
}).use(['table','jquery'], function(){
///
var admin = layui.admin
,$ = layui.$
,table = layui.table;

table.render({
    elem: '#list'
    ,url: '/module/list'
    ,title: '用户数据表'
    ,cols: [[
        ,{field:'id', title:'模块名称', width:100,fixed: 'left'}
        ,{field:'alias', title:'说明'}
        ,{field:'token', title:'状态',width:180}
        ,{fixed: 'right', title:'操作', toolbar: '#list-right-btn', width:150}
      ]]
    ,page: true
    ,id:'module_list'
});


//头工具栏事件
table.on('toolbar(list)', function(obj){    
    switch(obj.event){
        case 'add':add(obj);break;
    };
});

//监听行工具事件
table.on('tool(list)', function(obj){
    var data = obj.data;
    if(obj.event === 'del'){
        layer.confirm('确定删除?', function(index){
            $.post('/tgbot/del', {id:data.id}, function(data) {
                showMsg(data.msg,function(){
                    if (data.status){
                        layer.close(index);
                        table.reload('module_list', {});
                    }
                },{icon:data.status?1:2});
            },'json');
        });
    } else if(obj.event === 'edit'){
        add(obj);
    }
});
///
});
</script>
{% endblock %}